*,*::before,*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Futuras medidas para MediaQueries:  */
/* Tablet */
/* @media (min-width: 768px) { ... } */

/* Desktop */
/* @media (min-width: 1024px) { ... } */

/* Desktop ancho */
/* @media (min-width: 1440px) { ... } */

:root {
    
    --font-base: "DM Sans", Helvetica, Arial, sans-serif; /* Tipos de fonts */
    --font-header: "Montserrat", sans-serif;

    /* Tamaños de fonts */
    --font-size-xs: 0.75rem; /*  12px */
    --font-size-sm: 0.875rem; /*  14px */
    --font-size-base: 1rem; /*  16px */
    --font-size-md: 1.125rem; /*  18px */
    --font-size-lg: 1.5rem; /*  24px */
    --font-size-xl: 2rem; /*  32px */
    --font-size-2xl: 3rem; /*  48px */

    /* Grosor de escritura */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Espaciado */
    --spacing-xs: 0.25rem; /*  4px */
    --spacing-sm: 0.5rem; /*  8px */
    --spacing-md: 1rem; /* 16px */
    --spacing-lg: 2rem; /* 32px */
    --spacing-xl: 4rem; /* 64px */
    --spacing-2xl: 6rem; /* 96px */

    /* Bordes y radios */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-full: 500px; /* Para botones en píldora */

    /* Marca */
    --color-brand: #1db954; /* Verde Spotify */
    --color-brand-hover: #1ed760; /* Verde hover */

    /* Fondos */
    --color-bg-dark: #191414; /* Negro Spotify */
    --color-bg-secondary: #282828; /* Gris oscuro tarjetas */

    /* Textos */
    --color-text-primary: #ffffff;
    --color-text-secondary: #b3b3b3;
    --color-text-muted: #6a6a6a;

    /* Bordes / separadores */
    --color-border: #333333;
}

body{
    max-width: 758px;
    font-family: var(--font-base);
    align-items: center;
    
}

/* ---- HEADER CONFIG---- */
.navigation{
    justify-content: space-between;  /* Dividimos el espacio sobrante entre lo definido en nav::before y nav */
    font-family: var(--font-base);
}

nav::before{        /* Logotipo Spotify */
    content: "";    /* Obligatorio, sin esto, no se vería */
    display: inline-block;      /* Utilizamos inline para que se adapte en linea, y block para poder dimensionarla */
    margin: var(--spacing-xs);
    width: 120px;
    height: 40px;
    background-image: url(assets/spotify-logo.png);
    background-size: contain;          /* Adaptación de imagen a contenedor */
    background-repeat: no-repeat;      /* Que no se repita la imagen si el contenedor es mas pequeño que la imagen */
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    align-items: center;
    color: var(--color-text-muted);
    font-size: 14px;
    padding-left: var(--spacing-sm);
    text-decoration: none;
}

/* ----HERO---- */

.hero{
    color: var(--color-text-primary);
    height: 454px;

    background-image: url(assets/landing.jpg);
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: var(--spacing-lg)
}

.hero h1{
    font-family: var(--font-header);
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-lg);
}


/* ----FEATURES CONTAINER---- */

.h2-features{
    text-align: center;
    width: fit-content;
    margin: auto;
}

.h2-features::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-brand-hover);
  
}