*,*::before,*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Futuras medidas para MediaQueries:  */
/* Tablet */
/* @media (min-width: 768px) { ... } */

/* Desktop */
/* @media (min-width: 1024px) { ... } */

/* Desktop ancho */
/* @media (min-width: 1440px) { ... } */

:root {
    
    --font-base: "DM Sans", Helvetica, Arial, sans-serif; /* Tipos de fonts */
    --font-header: "Montserrat", sans-serif;

    /* Tamaños de fonts */
    --font-size-xs: 0.75rem; /*  12px */
    --font-size-sm: 0.875rem; /*  14px */
    --font-size-base: 1rem; /*  16px */
    --font-size-md: 1.125rem; /*  18px */
    --font-size-lg: 1.5rem; /*  24px */
    --font-size-xl: 2rem; /*  32px */
    --font-size-2xl: 3rem; /*  48px */

    /* Grosor de escritura */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Espaciado */
    --spacing-3Xs: 0.125rem; /* 2px */
    --spacing-2Xs: 0.25rem; /*  4px */
    --spacing-Xs: 0.5rem; /*  8px */
    --spacing-sm: 1rem; /* 16px */
    --spacing-md: 2rem; /* 32px */
    --spacing-lg: 3rem; /* 48px */
    --spacing-xl: 4rem; /* 64px */
    --spacing-2xl: 6rem; /* 96px */
    --spacing-3xl: 8rem; /* 128px */



    
    /* Bordes y radios */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-full: 500px; /* Para botones en píldora */

    /* Marca */
    --color-brand: #1db954; /* Verde Spotify */
    --color-brand-hover: #1ed760; /* Verde hover */

    /* Fondos */
    --color-bg-dark: #191414; /* Negro Spotify */
    --color-bg-secondary: #282828; /* Gris oscuro tarjetas */

    /* Textos */
    --color-text-primary: #ffffff;
    --color-text-secondary: #b3b3b3;
    --color-text-muted: #6a6a6a;

    /* Bordes / separadores */
    --color-border: #333333;
}

body{
    max-width: 758px;
    font-family: var(--font-base);
    align-items: center;
       
}

/* ---- HEADER CONFIG---- */
.navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-base);
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    
    color: var(--color-text-muted);
    text-decoration: none;
    justify-content: center
}

.hamburguer-button{   /* Contenedor de menu hamburguesa */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: var(--spacing-lg);
    height: var(--spacing-md);
    cursor: pointer;
    z-index: 100;
}

.bar {                  /* Barras Menu Hamburguesa */
    display: inline-block;
    width: var(--spacing-md);
    height: var(--spacing-2Xs);
    background-color: var(--color-brand-hover);
}

.spotify-logo {
    display: inline-block;
    width: 40%;

}
.menu-checkbox {
    display: None;
}
.nav-menu{
    display: none;
}
.menu-checkbox:checked ~ .nav-menu{   /* Lógica para, cuando presionamos el icono (checked) se despliegue */
    display: flex;
    
    align-items: center;
    width: 100%;
    padding: var(--spacing-sm);
    gap: var(--spacing-md);
}


/* ----HERO---- */

.hero{
    color: var(--color-text-primary);
    height: 454px;

    background-image: url(assets/landing.jpg);
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: var(--spacing-lg)
}

.hero h1{
    font-family: var(--font-header);
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-lg);
}


/* ----FEATURES CONTAINER---- */

.h2-features{                               /* Titulo features */
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: var(--spacing-sm);
}

.h2-features::after{                        /* Decoración Linea Verde */
    content: "";
    display: block;
    width: 100%;
    height: var(--spacing-3Xs);
    background-color: var(--color-brand);
  
}

.features-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-container article{    
    text-align: center;
    padding: var(--spacing-sm);
}

.h3-music, .h3-songs, .h3-stream{           /* Color headers Features */
    color:var(--color-brand)
}

.music-icon, .quality-icon, .devices-icon{  /* Tamaño iconos Features */
    width: 25%;
}


/* ----WRAPPER---- */

.yeezy-section{
    background-color: var(--color-brand-hover);
}
.content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h2-wrapper{
    text-align: center;
}

.text-container{
    width: 50%;
    text-align: left;
}

.image-content{
    width: 50%;

}

.spotify-app, .logo{
    width: 40%;
}
